fieldset
{
	flex-direction: row;

	border: none;
	padding: 5px;
}
fieldset label
{
	width: 60px;
	display: inline-block;
}
fieldset label + input
{
	display: inline-block;
	flex-grow: 1;
}

input{
	outline: none;
	border: 1px solid #a9a9a9;
	border-radius: 3px;
	padding: 2px;
	background: #f7f7f7;
	font-family: inherit;
	font-size: inherit;
	vertical-align: middle;
}

.dialog input{
	padding: 5px;
}

.dialog.label-med fieldset label
{
	width: 120px;
}
.dialog.label-wide fieldset label
{
	width: 200px;
}