@import 'tooltip';
@import 'forms';
@import 'splitter';
@import 'timeline-tree';

::-webkit-scrollbar{
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track{
	background: #dcdcdc;
}

::-webkit-scrollbar-thumb{
	background: #909090;
}

html, body{
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;

	font: 14px monospace;
	color: #444;
}

.no-select {
	user-select: none;
}

div#viewport-container{
	position: absolute;
}
canvas#viewport{
	width: 100%;
	height: 100%;
	outline: 0;
}
div#properties-panel{
	background: indianred;
}
div#timeline-panel{
	position: absolute;
}
canvas#timeline{
	width: 100%;
	height: 100%;
	outline: 0;
}

.viewport-message
{
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 5px 10px;
	background: #ffffff;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}