.has-tooltip {
  position: relative; }

.has-tooltip::after {
  content: attr(data-tip);
  font-size: 10px;
  position: absolute;
  z-index: 999;
  white-space: nowrap;
  top: 9999px;
  left: 50%;
  background: #000;
  color: #E0E0E0;
  padding: 0 7px;
  line-height: 24px;
  height: 24px;
  opacity: 0;
  transition: opacity 0.4s ease-out; }

.has-tooltip:hover::after {
  opacity: 1;
  bottom: -35px; }

.splitter-partition {
  position: absolute; }

.splitter-bar {
  position: absolute;
  background-color: #ECECEC;
  border: 1px solid #C1C1C1;
  box-sizing: border-box; }

.splitter-bar.splitter-hor {
  border-width: 1px 0; }

.splitter-bar.splitter-ver {
  border-width: 0 1px; }

div#timeline-tree {
  position: absolute;
  left: 0;
  width: 400px;
  top: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  outline: none; }

div#timeline-tree-container {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto; }

div#timeline-tree-toolbar {
  background-color: #ECECEC;
  border-top: 1px solid #C1C1C1;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  align-items: stretch; }

div#timeline-tree-toolbar, div#timeline-tree-toolbar * {
  user-select: none; }

div#timeline-tree-toolbar div {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-shrink: 0; }

div#timeline-tree-toolbar i {
  padding: 4px;
  margin: 0 2px;
  border-radius: 2px; }

div#timeline-tree-toolbar i:hover {
  background: indianred;
  color: #FFF; }

div#timeline-tree-toolbar i.disabled, div#timeline-tree-toolbar i.disabled:hover {
  background: inherit !important;
  color: #b5b5b5 !important; }

div#timeline-tree-toolbar .filler {
  flex-grow: 1; }

.model-node .item {
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-bottom: 1px solid #dcdcdc;
  box-sizing: border-box;
  background: #fbfbfb;
  display: flex;
  align-items: center; }

.model-node:hover > .item {
  background: #ffe3e3;
  border-color: #FFBFC8; }

.model-node .item:hover, .model-node .item.selected {
  background: indianred;
  border-color: #CD3D51;
  color: #FFF; }

.model-node .item .icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 5px; }

.model-node .item label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.model-node .item label, .model-node .item input {
  flex-grow: 1;
  flex-shrink: 1; }

.model-node.model > .item .icon:before {
  content: "\f1ae"; }

.model-node.sprite > .item .icon:before {
  content: "\f03e"; }

.model-node.bone > .item .icon:before {
  content: "\f0c1"; }

.model-node .item .fold-icon {
  width: 10px;
  text-align: center;
  cursor: pointer;
  margin-right: 5px; }

.model-node .item .fold-icon:before {
  content: "\f0d7"; }

.model-node .item .fold-icon.collapsed:before {
  content: "\f0da"; }

.model-node .children {
  margin-left: 8px;
  padding-left: 8px;
  position: relative;
  display: flex;
  flex-direction: column; }

.model-node .children:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 1px #b7b7b7 dashed; }

.model-node:hover > .children:before {
  border-color: #703535; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background: #dcdcdc; }

::-webkit-scrollbar-thumb {
  background: #909090; }

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font: 14px monospace;
  color: #444; }

.no-select {
  user-select: none; }

div#viewport-container {
  position: absolute; }

canvas#viewport {
  width: 100%;
  height: 100%;
  outline: 0; }

div#properties-panel {
  background: indianred; }

div#timeline-panel {
  position: absolute; }

canvas#timeline {
  width: 100%;
  height: 100%;
  outline: 0; }

.viewport-message {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 10px;
  background: #ffffff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 4px; }

/*# sourceMappingURL=main.css.map */
