@import "vars";
@import 'gh-buttons';
@import 'tooltip';
@import 'forms';
@import 'splitter';
@import 'timeline-tree';
@import 'timeline';
@import 'sprite-selector';
@import 'project-manager';

::-webkit-scrollbar{
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track{
	background: #dcdcdc;
}

::-webkit-scrollbar-thumb{
	background: #909090;
}

html, body{
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;

	font: 14px monospace;
	color: #444;
}

#app-loading-screen{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #FAFAFA;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;

	.content{
		margin:0 auto;
	}
}

.no-select {
	user-select: none;
}
.flex-filler{
	flex-grow: 1;
	min-width: 10px;
	min-height: 10px;
}
.flex-filler.wide{
	min-width: 20px;
	min-height: 20px;
}
.toolbar-separator{
	width: 1px;
	background: $border-colour;
	margin: 0 5px;
}

div#viewport-container{
	position: absolute;

	i.settings-btn{
		position: absolute;
		right: 2px;
		bottom: 2px;
		margin: 0;
	}
}
canvas#viewport{
	width: 100%;
	height: 100%;
	outline: 0;
}
div#properties-panel{
	background: indianred;
}
div#timeline-panel{
	position: absolute;
}

.viewport-message
{
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 5px 10px;
	background: #ffffff;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

i.btn.fa{
	padding: 4px;
	margin: 0 2px;
	border-radius: 2px;
}
i.btn.fa:hover{
	background: $selected-bg;
	color: $selected-color;
}
i.btn.fa.disabled, i.fa.disabled:hover{
	pointer-events: none;
	background: inherit !important;
	color: $disabled-color !important;
}
div.disabled
{
	color: $disabled-color !important;
}

.jBox-overlay.clear{
	background: transparent !important;
	opacity: 1 !important;
}

body .jBox-Modal .jBox-container{
	box-shadow: 0 3px 15px rgba(0, 0, 0, .4);
}
body .jBox-Modal .jBox-title {
	//background: #f3f3f3;
	border-bottom: 1px solid #e0e0e0;

	i{
		vertical-align: middle;
	}
}

.jBox-Modal .jBox-title i{
	margin-right: 10px;
}

.jBox-Modal.info .jBox-title i{
	color: #599BDC;
}
.jBox-Modal.warning .jBox-title i{
	color: darkorange;
}
.jBox-Modal.error .jBox-title i{
	color: #BF4843;
}

.jBox-wrapper.jBox-Tooltip
{
	pointer-events: none;
}
.jBox-Tooltip.jBox-TooltipDark .jBox-container,
.jBox-Mouse.jBox-TooltipDark .jBox-container{
	color: #fff;
	background: #333;
}

.jBox-Tooltip.jBox-TooltipDark .jBox-pointer:after,
.jBox-Mouse.jBox-TooltipDark .jBox-pointer:after{
	background: #333;
}

.jBox-Notice-white .jBox-container {
	background: #FAFAFA;
}

.jBox-wrapper.jbox-dialog-wrapper .jBox-content{
	overflow: visible;
}
.dialog.button-layout
{
	display: flex !important;
	flex-direction: column;
	height: 100%;

	.content-pane{
		flex-shrink: 1;
		flex-grow: 1;
		height: 100%;
		overflow: hidden;
		align-self: flex-start;
	}
}
.dialog .button-bar{
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid $border-colour;
	display: flex;
	flex-shrink: 0;
	align-items: center;
}
.dialog .button-bar button + button{
	margin-left: 5px;
}