@import "vars";

.splitter-container{

}
.splitter-partition{
	position: absolute;
}
.splitter-bar{
	position: absolute;
	background-color: $ui-bg;
	border: $border-size solid $border-colour;
	box-sizing: border-box;
}
.splitter-bar.splitter-hor{
	border-width: 1px 0;
}
.splitter-bar.splitter-ver{
	border-width: 0 1px;
}