@import "vars";

#sprite_selector{
	width: 900px;
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;

	.sprite-group{
		margin: 0 10px 10px 0;

		cursor: pointer;
		border: 1px solid $margin-border-colour;
		border-radius: 3px;
		padding: 5px;

		&:hover{
			background-color: $highlighted-soft-bg;
			border-color: $highlighted-soft-border-colour;
		}
		& > *{
			vertical-align: middle;
		}
		& > .thumb{
			display: inline-block;
		}
	}

	.content.collapsed{
		height: 0;
		display: none;
	}

	.content{
		display: flex;
		margin-bottom: 10px;
		overflow: hidden;
		flex-wrap: wrap;
	}

	.thumb-outer{
		cursor: pointer;
		border: 1px solid transparent;
		border-radius: 3px;
		padding: 5px;

		&:hover{
			background-color: $highlighted-soft-bg;
			border-color: $highlighted-soft-border-colour;
		}
	}

	.thumb{
		width: 42px;
		height: 42px;
	}
}