@import "vars";

div#timeline-tree{
	position: absolute;
	left: 0;
	width: 400px;
	top: 0; bottom: 0;
	overflow: auto;

	display: flex;
	flex-direction: column;

	outline: none;

	input.rename{
		box-shadow: 0 0 7px rgba(0,0,0,0.5);
		width: 0;
	}
}

div#timeline-tree-container{
	flex-grow: 1;
	flex-shrink: 1;
	overflow: auto;
}
div#timeline-tree-toolbar{
	background-color: $ui-bg;
	border-top: $border-size solid $border-colour;

	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	display: flex;
	flex-shrink: 0;
	align-items: stretch;

	user-select: none;

	div{
		white-space: nowrap;
		overflow: hidden;
		display: flex;
		align-items: stretch;
		flex-shrink: 0;
	}
	i{
		padding: 4px;
		margin: 0 2px;
		border-radius: 2px;
	}
	i:hover{
		background: $selected-bg;
		color: $selected-color;
	}
	i.disabled, div#timeline-tree-toolbar i.disabled:hover{
		background: inherit !important;
		color: $disabled-color !important;
	}
	.filler{
		flex-grow: 1;
	}

}

.model-node{
	.item{
		height: 29px;
		line-height: 29px;
		padding: 0 10px;
		border-bottom: 1px solid #DCDCDC;
		box-sizing: border-box;
		background: #FBFBFB;
		display: flex;
		align-items: center;
	}
	&:hover > .item{
		background: #FFE3E3;
		border-color: #FFBFC8;
	}
	.item:hover, .item.highlighted{
		background: $highlighted-bg;
		border-color: $highlighted-border-colour;
		color: $highlighted-color;
	}
	.item.selected{
		background: $selected-bg;
		border-color: $selected-border-colour;
		color: $selected-color;
	}

	.item .icon{
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		margin-right: 5px;
	}
	.item label{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		user-select: none;
	}
	.item label, .item input{
		flex-grow: 1;
		flex-shrink: 1;
	}

	&.model > .item .icon:before{
		content: "\f1ae"; // child
	}
	&.sprite > .item .icon:before{
		content: "\f03e"; // image
	}
	&.bone > .item .icon:before{
		content: "\f0c1"; // chain
	}

	.item .fold-icon{
		width: 10px;
		text-align: center;
		cursor: pointer;
		margin-right: 5px;
	}
	.item .fold-icon:before{
		content: "\f0d7"; // caret-down
	}
	.item .fold-icon.collapsed:before{
		content: "\f0da"; // caret-right
	}

	.children{
		margin-left: 8px;
		padding-left: 8px;
		position: relative;
		display: flex;
		flex-direction: column;
	}
	.children:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 0;
		border-left: 1px #B7B7B7 dashed;
	}
	&:hover > .children:before{
		border-color: #703535;
		//border-color: #355770;
	}
}