div#timeline-container{
	display: flex;
	flex-direction: column;
}
#time-canvas-container{
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
}
canvas#timeline{
	width: 100%;
	height: 100%;
	position: absolute;
	outline: 0;
}

#timeline-toolbar{
	background-color: $ui-bg;
	border-top: $border-size solid $border-colour;

	display: flex;
	padding: $ui-padding;
	user-select: none;

	select{
		width: 160px;
		margin: 0 2px;
	}

	.frame-label{
		vertical-align: middle;
		padding-top: 3px;
		margin: 0 10px;
		white-space: nowrap;

		.value{

		}
	}

	.btn-play, .btn-pause
	{
		width: 12px;
	}
}

#anim-delete-confirm strong{
	//display: block;
	//margin-left: 20px;
	//padding-top: 5px;
}