$ui-bg: #ECECEC;

$border-size: 1px;
$border-colour: #C1C1C1;

$highlighted-bg: #de7777;
$highlighted-border-colour: #b16161;
$highlighted-color: #FFF;
$selected-bg: indianred;
$selected-border-colour: #ab4646;
$selected-color: #FFF;

$disabled-color: #b5b5b5;