$ui-bg: #ECECEC;

$border-size: 1px;
$border-colour: #C1C1C1;
$ui-padding: 5px;

$highlighted-bg: #de7777;
$highlighted-border-colour: #b16161;
$highlighted-soft-bg: #ffe3e3;
$highlighted-soft-border-colour: #deb8b8;
$highlighted-color: #FFF;
$selected-bg: indianred;
$selected-border-colour: #ab4646;
$selected-color: #FFF;

$margin-border-colour: #B7B7B7;

$disabled-color: #b5b5b5;